[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/experimental-4626"]
	path = lib/experimental-4626
	url = https://github.com/superform-xyz/experimental-4626
